
*{
    margin: 0;
    text-decoration: none;
    padding: 0; 
    color: black; 
    box-sizing: border-box;
}

body{
    margin: 20px;
    padding: 30px;
}
div{
    padding: 20px;
    font-size: 20px;
}

.link1 a{
    color: blue;
}
.link1 a:hover{
    color: green;
    text-decoration: underline;
}

.link2 a{
    color: red;
    text-decoration: underline;
}
.link2 a:hover{
    color: blue;
    text-decoration: line-through;
}

.link3 a{
    color: black;
}
.link3 a:hover{
    color: red;
    text-decoration: overline;
}